torch
torchvision
torchaudio
fastapi[all]
transformers
langchain
langgraph
llama-index 
sentence_transformers
accelerate
asyncio
sse-starlette
streamlit
pydantic
typing-inspect 
typing_extensions
pypdf
bs4
pillow
bitsandbytes
accelerate
sentence-transformers
pymilvus